html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("../img/pink_bg.png")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-brand {
    font-weight: 700;
}

.top-nav-collapse {
    background: rgb(118, 94, 198);
    background: -moz-linear-gradient(90deg, rgba(118, 94, 198, 1) 0%, rgba(201, 146, 247, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(118, 94, 198, 1) 0%, rgba(201, 146, 247, 1) 100%);
    background: linear-gradient(90deg, rgba(118, 94, 198, 1) 0%, rgba(201, 146, 247, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#765ec6", endColorstr="#c992f7", GradientType=1);
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: rgb(118, 94, 198);
        background: -moz-linear-gradient(90deg, rgba(118, 94, 198, 1) 0%, rgba(201, 146, 247, 1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(118, 94, 198, 1) 0%, rgba(201, 146, 247, 1) 100%);
        background: linear-gradient(90deg, rgba(118, 94, 198, 1) 0%, rgba(201, 146, 247, 1) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#765ec6", endColorstr="#c992f7", GradientType=1);
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: rgb(118, 94, 198);
        background: -moz-linear-gradient(90deg, rgba(118, 94, 198, 1) 0%, rgba(201, 146, 247, 1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(118, 94, 198, 1) 0%, rgba(201, 146, 247, 1) 100%);
        background: linear-gradient(90deg, rgba(118, 94, 198, 1) 0%, rgba(201, 146, 247, 1) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#765ec6", endColorstr="#c992f7", GradientType=1);
    }
}

.navbar .nav-item .nav-link {
    display: block;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.banner-content{margin-top: 100px;}
.back-img{max-width: 350px; position: relative;}

.coronaimg {
    clear: both;
    position: absolute !important;
    top: 0;
    margin-top: 60%;
    margin-left: 15%;
    transform: translate(-50%,-100%);
}
.rotate{
    animation: rotate 15s linear infinite; 
  }
  @keyframes rotate{
      from{transform: rotate(0deg);}
    to{ transform: rotate(360deg); }
  }
  
.downlaod-btn{
    background: #614dc7 none repeat scroll 0 0;
    border: 0;
    border-radius: 50px;
    font-size: 14px;
    height: 60px;
    letter-spacing: 3px;
    padding: 12px 50px;
    right: 10px;
    text-transform: uppercase;
    top: 10px;
    transition: all .3s ease 0s; color: #ffffff;
}
.downlaod-btn:hover{    background: #fff none repeat scroll 0 0;
    color: #614dc7;}

.confirm-case{color: black;}
.carousel-item{max-width: 250px;}
#gallery{background: #f0f1ff;}
.app-details{margin-top: 20%;}